.home-wrapper {
  height: 100vh;
  background-image: url('../assets/Hostel.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: brightness(0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem 1rem;
  position: relative;
}

.welcome-text {
  font-size: clamp(2rem, 5vw, 4rem);
  font-weight: 800;
  color: #0a0ab0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
   text-align: center;
  text-shadow: none;
  z-index: 2;
  position: absolute;
  top: 20%; /* Push it slightly down from top */
  left: 50%;
  transform: translate(-50%, -50%);

}
 


.rules-download-btn {
  margin-top: 2rem;
  padding: 0.75rem 1.5rem;
  background-color: #007bff;
  color: white;
  border: none;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.rules-download-btn:hover {
  background-color: #0056b3;
}


.letter {
  display: inline-block;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeSlideUp 0.5s forwards;
  color: #f6f5f3; /* Blue for each letter */
}


/* New animation: smooth fade + slide */
@keyframes fadeSlideUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

